@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$grid-columns: 12;
$max-width: 800px;

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(max-width 1300px 12);