body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
}

/*Links*/

a:link {
  text-decoration: none;
}

a:visited, a:hover, a:active {
  text-decoration: underline;
}

/*The main building blocks of the page: sections*/

section, #nav-mobile {
  padding: 0 1rem;
  max-width: 860px;
  margin: auto;
}

section:last-child {
  margin-bottom: 10rem;
}

/*Headers*/

h1, h2 {
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  line-height: 100%;
}

h1 {
  margin-top: 3rem;
  font-size: 1.6rem;
}

h2 {
  margin-top: 2rem;
  font-size: 1.3rem;
}

/*Inside a section, use flexbox for nicer layout*/

.flex-container {
  display: flex;
  align-items: flex-start;
}

/*Images*/

.img, .img-sml {
  /*enable or disable shadow?*/
  /*box-shadow: 2px 2px 3px #888888;*/
  max-width: 16rem;
  height: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.img-sml {
  max-width: 8rem;
}

p:first-child {
  margin-top: 0;
}

/*The header contains the left and right side bars*/

header {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

#nav-list, #index-list {
  pointer-events: all;
  display: inline-block;
  width: 240px;
}

header a, header span {
  display: block;
  font-size: 1.1rem;
}

header a.sml {
  margin-left: 1rem;
  font-size: 1rem;
}

header span {
  height: 1rem;
}

.award {
  font-weight: 500;
  color: #e91e63;
}


/*nav mobile only shown on smaller screens*/

#nav-mobile {
  display: none;
  justify-content: flex-start;
  font-size: 1.1rem;
  margin-top: 1rem;
  line-height: 100%;
}

#nav-mobile a {
  margin-right: 1rem;
}

/*Hide side bars when it gets too narrow*/
@media (max-width: 1280px) {
  #nav-list, #index-list { display: none; }
  #nav-mobile { display: flex; }
}

/*For mobile, switch the flex direction and decrease font size*/
@media (max-width: 600px) {
  .flex-container { flex-direction: column; }
  body { font-size: 0.9rem; }
}