// $visual-grid: true;

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@font-face {
  font-family: 'Input Sans';
  font-weight: 400;
  src: url('fonts/InputSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: url('fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url('fonts/OpenSans-Italic.ttf');
}


$font-text: 'Open Sans', sans-serif;
$font-mono: 'Input Sans', monospace;

$blue: #0090e0;
$red:  #e4141b;
$grey: darken(whitesmoke, 5%);

$padding: 32px;

// general settings
body {
	font-family: $font-text;

	// disable link styles in general
	a, a:visited, a:hover, a:active {
		color: #3f51b5;
		text-decoration: underline;
	}
}

// outer container for page
section {
	@include outer-container;
	padding: 0 1.4rem;
}

span.mono {
	font-family: $font-mono;
}

#nav-list, #index-list {
	position: fixed;
	width: 15rem;

	font-size: 1rem;

	a, span {
		display: block;
		color: black;
		text-decoration: none;
	}
	a:hover, a:active, a.toggled {
		text-decoration: underline;
	}

	.spacer {
		height: 0.8rem;
	}
}

#nav-list {
	@include media($mobile) {
		position: static;
		width: auto;
		height: auto;
		overflow:hidden;
		// height: 0;
		padding: 1.4rem;

		background-color: #263238;
		color: white;

		#mobile-menu {
			// display: inline-block;
			@include span-columns(1 of 4);
			@include omega();
			margin-top: 0;
			margin-bottom: 0;
		}

		h1 {
			// display: inline-block;
			padding: 0;
			margin-top: 0;
			margin-bottom: 0;

			border-bottom: none;
			@include span-columns(3 of 4);
		}

		a, span {
			@include span-columns(4 of 4);
			color: white;
			display: none;
		}
	}
}

#index-list {

	a.p-out {
		color: #3f51b5;
		text-decoration: underline;

		font-size: 0.92rem;
		line-height: 1.35rem;

		&::first-letter{
			text-transform: capitalize;
		}
	}

	// make this-page links one line and clamped
	.h1, .h2 {
		width:100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.h1 {
		margin-top: 1rem;
	}

	.h2 {
		font-size: 0.92rem;
		padding: 0 0 0 1em;
	}
}

h1 {
	@include span-columns(12);

	font-weight: 400;
	font-size: 1.6rem;

	margin-top: 0;
	margin-bottom: 1.1rem;
	padding-top: 2.1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #DDD;

	@include media($mobile) {
		@include span-columns(4);
	}
}

h2 {
	@include span-columns(12);

	font-weight: 400;
	font-size: 1.2rem;
	line-height: 100%;

	margin-top: 0;
	margin-bottom: 1rem;
	padding-top: 2.2rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #DDD;

	@include media($mobile) {
		@include span-columns(4);
	}
}

h3 {
	font-weight: 400;
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

h4 {
	font-weight: 400;
	font-size: 1rem;
	margin-top: 0em;
	margin-bottom: 0.5rem;
}

article {
	@include span-columns(12);

	@include media($mobile) {
		@include span-columns(4);
	}
}

article.danger, article.info {
	background-color:#fde0dc;
	color:#b0120a;
	padding: 1rem;
	margin-bottom: 1rem;
	p {
		margin: 0;
	}
}

article.info {
	background-color:#ECEFF1;
	color:#37474F;
}


aside.two-thirds {
	@include span-columns(8);
	@include omega();

	@include media($mobile) {
		@include span-columns(4);
	}
}

aside.five-sixths, img.five-sixths {
	@include span-columns(10);

	@include media($mobile) {
		@include span-columns(4);
	}
}

aside.three-quarter, img.three-quarter {
	@include span-columns(9);

	@include media($mobile) {
		@include span-columns(4);
	}
}

aside.half, img.half {
	@include span-columns(6);
	@include omega(2n);

	@include media($mobile) {
		@include span-columns(4);
	}
}

aside.third, img.third {
	@include span-columns(4);

	@include media($mobile) {
		@include span-columns(2);
		margin-bottom: 1rem;
	}
}

aside.quarter, img.quarter {
	@include span-columns(3);

	@include media($mobile) {
		@include span-columns(2);
	}
}

aside.sixth, img.sixth {
	@include span-columns(2);

	@include media($mobile) {
		@include span-columns(2);
	}
}

aside.omega, img.omega {
	@include omega();
}

// img {
// 	width:100%;
// }

p:first-child {
	margin-top: 0;
}

p:last-child, ul:last-child, ol:last-child, li:last-child {
	margin-bottom: 0;
}

p, li {
	font-size: 0.92rem;
	line-height: 1.35rem;

	@include media($mobile) {
		font-size: 0.85rem;
	}
}

ul {
	list-style-type: none;
	padding: 0 0 0 1em;
	margin: 0 0 1em 0;

	& > li:before { 
	    content: "\00B7";
	    position: relative;
	    left: -0.6em;
	    top: 0;
	}
}

ol {
	padding: 0 0 0 1.8em;
	margin: 0 0 1em 0;

	li { 
		padding-bottom: 0.3rem;
	}

	ol {
		margin: 0;
	}
}