* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 12px 0;
  font-size: 14px; }
  ul li.spacer {
    height: 6px; }

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 300;
  margin: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid black; }

div.page {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.page:before, div.page:after {
    content: " ";
    display: table; }
  div.page:after {
    clear: both; }
  div.page nav {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 23.40426%; }
    div.page nav:last-child {
      margin-right: 0; }
  div.page section {
    padding: 24px 24px 0 0;
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 74.46809%; }
    div.page section:last-child {
      margin-right: 0; }
    div.page section article {
      float: left;
      display: block;
      margin-right: 2.85714%;
      width: 65.71429%; }
      div.page section article:last-child {
        margin-right: 0; }
    div.page section aside {
      float: left;
      display: block;
      margin-right: 2.85714%;
      width: 31.42857%; }
      div.page section aside:last-child {
        margin-right: 0; }

nav {
  padding: 24px 0 0 24px; }
