* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

ul {
  list-style-type: none;
  padding: 0;
  font-size: 14px; }
  ul li.spacer {
    height: 7px; }
  ul a, ul a:visited, ul a:hover, ul a:active {
    color: inherit;
    text-decoration: none; }
  ul a:hover, ul a:active {
    background: #d8eefa; }

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 300;
  margin: 0 0 14px 0;
  padding-bottom: 14px;
  border-bottom: 1px solid; }

div.page {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.page:before, div.page:after {
    content: " ";
    display: table; }
  div.page:after {
    clear: both; }
  div.page nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    div.page nav:last-child {
      margin-right: 0; }
  div.page section {
    padding: 28px 28px 0 0;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    font-size: 12px; }
    div.page section:last-child {
      margin-right: 0; }
    div.page section aside {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 31.22104%;
      margin-right: 0;
      color: #e4141b; }
      div.page section aside:last-child {
        margin-right: 0; }

article {
  margin: 0 0 14px 0;
  float: left;
  display: block;
  margin-right: 3.16844%;
  width: 65.61052%; }
  article:last-child {
    margin-right: 0; }
  article article {
    margin: 0;
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 47.58542%; }
    article article:last-child {
      margin-right: 0; }
  article a, article a:visited, article a:hover, article a:active {
    color: inherit;
    text-decoration: underline; }

nav {
  color: #0090e0;
  padding: 28px 0 0 28px; }

.prof-pic {
  height: 100px;
  background-image: url("../img/profile_1x1.jpg");
  background-position: center center;
  background-size: cover; }

p {
  margin: 0 0 1em 0; }
