// $visual-grid: true;

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

$font-text: 'Open Sans', sans-serif;
$font-title: 'Roboto Slab', serif;
$font-mono: 'Anonymous Pro', sans-serif;

$blue: #0090e0;
$red:  #e4141b;
$grey: darken(whitesmoke, 5%);

$padding: 32px;

// general settings
body {
	font-family: $font-text;

	// disable link styles in general
	a, a:visited, a:hover, a:active {
		color: inherit;
		text-decoration: none;
	}
}

// outer container for page
div.page {
  @include outer-container;
}

// monospace text style (e.g. for code)
.mono {
	font-size: 110%;
	padding: 2px 4px;
	background-color: $grey;
	font-family: $font-mono;
}

li.spacer {
	height: $padding/4
}

@import "headers";

section {
  	@include span-columns(9);
  	@include shift(3);

  	padding: $padding $padding 0 0;

  	font-size: 13px;
}

aside {
	@include span-columns(3 of 9);
	@include omega();

	color: $red;

	a, a:visited, a:hover, a:active {
		color: inherit;
		text-decoration: underline;
	}
}

img {
	width: 100%;
	height: auto;
}

#index_list {
	list-style-type: none;
	padding: 0;
	font-size: 14px;

	span:hover, span:active {
		cursor: pointer;
		background: tint($red, 85%);
		position: relative;
	}

	li.subitem, li.index-pullout {
		font-size: 13px;
		padding: 0 0 0 1em;
	}

	li.index-pullout>span:before {
	    content: "";
	    border-color: transparent $red;
	    border-style: solid;
	    border-width: 0.3em 0 0.3em 0.38em;
	    display: block;
	    height: 0;
	    width: 0;
	    left: -0.9em;
	    top: 0.5em;
	    position: relative;
	    margin-bottom: -0.38em;
	}
}

@import "nav";
@import "article";

canvas {
	width: 100%;
	border: 1px dotted $red;
}