
@include keyframes(clockWobble) {
  from { @include transform( rotateX(-3deg) rotateY(10deg) rotateZ(-3deg)); }
  to { @include transform( rotateX(3deg) rotateY(-10deg) rotateZ(3deg)); }
}

@include keyframes(handAnim) {
  from { @include transform( rotateZ(0deg) ); }
  to { @include transform( rotateZ(359deg) ); }
}

@include keyframes(nebulaAnim) {
  from { @include transform( rotateZ(0deg) ); }
  to { @include transform( rotateZ(359deg) ); }
}

div#clock {
    position: absolute;

    @include media($mobile) {
      position: static;
      @include animation-name(none);
      width: 180px;
      margin-top: $med-skip;
      margin-left: auto;
      margin-right: auto;
    }

    @include animation-name(clockWobble);
    @include animation-duration(2s);
    @include animation-iteration-count(infinite);
    @include animation-direction(alternate);
    @include animation-timing-function(ease-in-out);

    svg {
        @include size(240 240);
        @include media($tablet) { @include size(200 200); }
        @include media($mobile) { @include size(180 180); }
    }

    #handSecond {
    	@include transform-origin(center 80%);
    	@include animation(handAnim 10s linear infinite);
    }

    #handMinute {
    	@include transform-origin(center 90%);
    	@include animation(handAnim 20s linear infinite);
    }

    #handHour {
    	@include transform-origin(center 85%);
    	@include animation(handAnim 40s linear infinite);
    }
}

div#clock_nebula {

  z-index: -3;
  position: absolute;
  @include size(1000 1000);

  background-image: url("nebula.png");
  background-size: cover;

  @include animation(nebulaAnim 60s linear infinite);

  @include media($mobile) {
    background-image: url("nebula_mob.png");
    @include size(800 800);
  }
}