* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  color: black; }

h1 {
  font-size: 28px;
  margin: 24px 0; }

h2 {
  font-size: 21px;
  margin: 0 0 24px 0; }

section {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }

aside {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
  font-size: 21px; }
  aside:last-child {
    margin-right: 0; }

article {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 74.46809%;
  margin-right: 0;
  font-size: 14px;
  margin-bottom: 24px; }
  article:last-child {
    margin-right: 0; }

p {
  margin-top: 0;
  margin-bottom: 12px; }
  p:last-child {
    margin-bottom: 0; }
