* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'GeoGrotesque';
  src: url("font/geog-rgit-webfont.eot");
  src: url("font/geog-rgit-webfont.eot?#iefix") format("embedded-opentype"), url("font/geog-rgit-webfont.woff") format("woff"), url("font/geog-rgit-webfont.ttf") format("truetype"), url("font/geog-rgit-webfont.svg#geogrotesque_rg_itRgIt") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'GeoGrotesque';
  src: url("font/geogtq-bd-webfont.eot");
  src: url("font/geogtq-bd-webfont.eot?#iefix") format("embedded-opentype"), url("font/geogtq-bd-webfont.woff") format("woff"), url("font/geogtq-bd-webfont.ttf") format("truetype"), url("font/geogtq-bd-webfont.svg#geogrotesque_bdbold") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'GeoGrotesque';
  src: url("font/geogtq-rg-webfont.eot");
  src: url("font/geogtq-rg-webfont.eot?#iefix") format("embedded-opentype"), url("font/geogtq-rg-webfont.woff") format("woff"), url("font/geogtq-rg-webfont.ttf") format("truetype"), url("font/geogtq-rg-webfont.svg#geogrotesque_rgregular") format("svg");
  font-weight: 400;
  font-style: normal; }

body {
  font-family: "Open Sans", serif;
  color: black; }

.alignleft {
  float: left; }

.alignright {
  float: right; }
  @media screen and (max-width: 480px) {
    .alignright {
      float: left; } }

div.stretch {
  width: 100%;
  position: relative;
  overflow: hidden; }
  div.stretch.title {
    padding: 78px 0; }
    @media screen and (max-width: 768px) {
      div.stretch.title {
        padding: 52px 0; } }
    @media screen and (max-width: 480px) {
      div.stretch.title {
        padding: 26px 0; } }
  div.stretch.subtitle {
    background-color: #5b7290;
    padding: 16px 0;
    color: white; }
  div.stretch.subsubtitle {
    background-color: #e7ebf0;
    padding: 16px 0;
    color: #003366;
    margin-bottom: 26px; }
  div.stretch.footer {
    background-color: #e7ebf0;
    padding: 16px 0; }
    div.stretch.footer p, div.stretch.footer a {
      color: #003366;
      font-size: 14px; }
      @media screen and (max-width: 480px) {
        div.stretch.footer p, div.stretch.footer a {
          font-size: 12px; } }
  div.stretch.med-skip {
    height: 26px; }

@-webkit-keyframes clockWobble {
  from {
    -webkit-transform: rotateX(-3deg) rotateY(10deg) rotateZ(-3deg); }

  to {
    -webkit-transform: rotateX(3deg) rotateY(-10deg) rotateZ(3deg); } }

@-moz-keyframes clockWobble {
  from {
    -moz-transform: rotateX(-3deg) rotateY(10deg) rotateZ(-3deg); }

  to {
    -moz-transform: rotateX(3deg) rotateY(-10deg) rotateZ(3deg); } }

@-o-keyframes clockWobble {
  from {
    -o-transform: rotateX(-3deg) rotateY(10deg) rotateZ(-3deg); }

  to {
    -o-transform: rotateX(3deg) rotateY(-10deg) rotateZ(3deg); } }

@keyframes clockWobble {
  from {
    transform: rotateX(-3deg) rotateY(10deg) rotateZ(-3deg); }

  to {
    transform: rotateX(3deg) rotateY(-10deg) rotateZ(3deg); } }

@-webkit-keyframes handAnim {
  from {
    -webkit-transform: rotateZ(0deg); }

  to {
    -webkit-transform: rotateZ(359deg); } }

@-moz-keyframes handAnim {
  from {
    -moz-transform: rotateZ(0deg); }

  to {
    -moz-transform: rotateZ(359deg); } }

@-o-keyframes handAnim {
  from {
    -o-transform: rotateZ(0deg); }

  to {
    -o-transform: rotateZ(359deg); } }

@keyframes handAnim {
  from {
    transform: rotateZ(0deg); }

  to {
    transform: rotateZ(359deg); } }

@-webkit-keyframes nebulaAnim {
  from {
    -webkit-transform: rotateZ(0deg); }

  to {
    -webkit-transform: rotateZ(359deg); } }

@-moz-keyframes nebulaAnim {
  from {
    -moz-transform: rotateZ(0deg); }

  to {
    -moz-transform: rotateZ(359deg); } }

@-o-keyframes nebulaAnim {
  from {
    -o-transform: rotateZ(0deg); }

  to {
    -o-transform: rotateZ(359deg); } }

@keyframes nebulaAnim {
  from {
    transform: rotateZ(0deg); }

  to {
    transform: rotateZ(359deg); } }

div#clock {
  position: absolute;
  -webkit-animation-name: clockWobble;
  -moz-animation-name: clockWobble;
  animation-name: clockWobble;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }
  @media screen and (max-width: 480px) {
    div#clock {
      position: static;
      -webkit-animation-name: none;
      -moz-animation-name: none;
      animation-name: none;
      width: 180px;
      margin-top: 26px;
      margin-left: auto;
      margin-right: auto; } }
  div#clock svg {
    width: 240px;
    height: 240px; }
    @media screen and (max-width: 768px) {
      div#clock svg {
        width: 200px;
        height: 200px; } }
    @media screen and (max-width: 480px) {
      div#clock svg {
        width: 180px;
        height: 180px; } }
  div#clock #handSecond {
    -webkit-transform-origin: center 80%;
    -moz-transform-origin: center 80%;
    -ms-transform-origin: center 80%;
    -o-transform-origin: center 80%;
    transform-origin: center 80%;
    -webkit-animation: handAnim 10s linear infinite;
    -moz-animation: handAnim 10s linear infinite;
    animation: handAnim 10s linear infinite; }
  div#clock #handMinute {
    -webkit-transform-origin: center 90%;
    -moz-transform-origin: center 90%;
    -ms-transform-origin: center 90%;
    -o-transform-origin: center 90%;
    transform-origin: center 90%;
    -webkit-animation: handAnim 20s linear infinite;
    -moz-animation: handAnim 20s linear infinite;
    animation: handAnim 20s linear infinite; }
  div#clock #handHour {
    -webkit-transform-origin: center 85%;
    -moz-transform-origin: center 85%;
    -ms-transform-origin: center 85%;
    -o-transform-origin: center 85%;
    transform-origin: center 85%;
    -webkit-animation: handAnim 40s linear infinite;
    -moz-animation: handAnim 40s linear infinite;
    animation: handAnim 40s linear infinite; }

div#clock_nebula {
  z-index: -3;
  position: absolute;
  width: 1000px;
  height: 1000px;
  background-image: url("nebula.png");
  background-size: cover;
  -webkit-animation: nebulaAnim 60s linear infinite;
  -moz-animation: nebulaAnim 60s linear infinite;
  animation: nebulaAnim 60s linear infinite; }
  @media screen and (max-width: 480px) {
    div#clock_nebula {
      background-image: url("nebula_mob.png");
      width: 800px;
      height: 800px; } }

h1 {
  width: 100%;
  font-family: "Cinzel", serif;
  font-weight: bold;
  color: white;
  word-spacing: 0.2em;
  letter-spacing: 0.05em;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0;
  font-size: 72px; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 56px; } }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 44px; } }

h2 {
  font-family: "GeoGrotesque", sans-serif;
  font-weight: normal;
  word-spacing: 0.1em;
  letter-spacing: 0.04em;
  line-height: 1em;
  font-size: 24px;
  margin: 0; }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 21px; }
      h2:nth-child(2) {
        margin-top: 8px; } }

h3 {
  font-family: "GeoGrotesque", sans-serif;
  font-weight: 500;
  word-spacing: 0.1em;
  letter-spacing: 0.04em;
  line-height: 1em;
  text-transform: uppercase;
  font-size: 28px;
  margin: 0; }

h4 {
  padding-bottom: 4px;
  margin: 0 0 8px 0;
  font-size: 17px;
  font-weight: 600; }

section {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 26px; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }
  section p {
    margin: 0 0 16px 0;
    font-size: 16px; }
    section p:last-child {
      margin: 0; }
    section p a {
      color: #5b7290; }
    @media screen and (max-width: 480px) {
      section p {
        font-size: 14px; } }
  section p.quotation {
    word-spacing: 0.1em;
    border-radius: 4px;
    padding: 16px;
    background-color: #e7ebf0;
    font-size: 18px;
    font-weight: 400;
    margin: 52px 0; }
    @media screen and (max-width: 480px) {
      section p.quotation {
        font-size: 14px;
        margin: 26px 0; } }

aside {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%; }
  aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    aside {
      float: left;
      display: block;
      margin-right: 4.34783%;
      width: 34.78261%; }
      aside:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    aside {
      float: left;
      display: block;
      margin-right: 9.09091%;
      width: 100%;
      margin-bottom: 16px;
      margin-right: 0; }
      aside:last-child {
        margin-right: 0; } }

article {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 65.71429%;
  margin-right: 0;
  margin-bottom: 26px; }
  article:last-child {
    margin-right: 0; }
  article:last-child {
    margin-bottom: 52px; }
    @media screen and (max-width: 480px) {
      article:last-child {
        margin-bottom: 26px; } }
  article p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 16px 0; }
    article p:last-child {
      margin: 0; }
  article b {
    font-weight: 600; }
  article a {
    color: #5b7290; }
  @media screen and (max-width: 768px) {
    article {
      float: left;
      display: block;
      margin-right: 4.34783%;
      width: 60.86957%;
      margin-right: 0; }
      article:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    article {
      float: left;
      display: block;
      margin-right: 9.09091%;
      width: 100%; }
      article:last-child {
        margin-right: 0; }
      article p {
        font-size: 14px; } }

article.review {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%; }
  article.review:last-child {
    margin-right: 0; }
  article.review:nth-child(3n) {
    margin-right: 0; }
  article.review:nth-child(3n+1) {
    clear: left; }
  @media screen and (max-width: 480px) {
    article.review {
      float: left;
      display: block;
      margin-right: 9.09091%;
      width: 100%;
      margin-right: 0; }
      article.review:last-child {
        margin-right: 0; } }
  article.review p {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin: 0 0 16px 0; }
    @media screen and (max-width: 480px) {
      article.review p {
        font-size: 14px;
        margin: 0 0 8px 0; } }
    article.review p:last-child {
      margin: 0; }
  article.review .stars {
    color: #663366;
    letter-spacing: 0.1em; }
    @media screen and (max-width: 480px) {
      article.review .stars {
        font-size: 14px;
        float: right; } }

section.big-buttons {
  margin-top: 78px;
  text-transform: uppercase;
  font-family: "GeoGrotesque", sans-serif; }
  @media screen and (max-width: 480px) {
    section.big-buttons {
      margin-top: 26px; } }
  @media screen and (max-width: 768px) {
    section.big-buttons {
      margin-top: 52px; } }
  section.big-buttons a {
    float: left;
    display: block;
    margin-right: 2.85714%;
    width: 31.42857%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: white;
    border-radius: 4px;
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    word-spacing: 0.03em;
    letter-spacing: 0.06em;
    text-decoration: none; }
    section.big-buttons a:last-child {
      margin-right: 0; }
    section.big-buttons a:hover {
      border: 2px solid #663366;
      background-color: #663366;
      color: white; }
    @media screen and (max-width: 768px) {
      section.big-buttons a {
        font-size: 16px;
        letter-spacing: 0; } }
    @media screen and (max-width: 480px) {
      section.big-buttons a {
        float: left;
        display: block;
        margin-right: 9.09091%;
        width: 100%;
        letter-spacing: 0.06em;
        padding: 8px 0;
        margin-bottom: 16px; }
        section.big-buttons a:last-child {
          margin-right: 0; }
        section.big-buttons a:last-child {
          margin-bottom: 0; } }

section.contact-us {
  margin-top: 0;
  text-transform: uppercase;
  font-family: "GeoGrotesque", sans-serif;
  margin-bottom: 52px; }
  @media screen and (max-width: 480px) {
    section.contact-us {
      margin-bottom: 26px; } }
  section.contact-us a {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
    section.contact-us a.facebook {
      border: 2px solid #3b5998;
      color: #3b5998; }
      section.contact-us a.facebook:hover {
        background-color: #3b5998; }
    section.contact-us a.twitter {
      border: 2px solid #10c3dd;
      color: #10c3dd; }
      section.contact-us a.twitter:hover {
        background-color: #10c3dd; }
    section.contact-us a.committee {
      border: 2px solid #663366;
      color: #663366; }
      section.contact-us a.committee:hover {
        background-color: #663366; }
    section.contact-us a:hover {
      color: white; }

section.committee h4 {
  overflow: hidden;
  margin-bottom: 0; }
section.committee a {
  font-family: "PT Mono", sans-serif;
  font-weight: 400;
  font-size: 14px; }
  @media screen and (max-width: 480px) {
    section.committee a {
      font-size: 18px;
      float: right; } }
section.committee article {
  float: left;
  display: block;
  margin-right: 2.85714%;
  width: 31.42857%; }
  section.committee article:last-child {
    margin-right: 0; }
  section.committee article:nth-child(3n) {
    margin-right: 0; }
  section.committee article:nth-child(3n+1) {
    clear: left; }
  section.committee article p {
    font-size: 14px; }
  @media screen and (max-width: 480px) {
    section.committee article {
      float: left;
      display: block;
      margin-right: 9.09091%;
      width: 100%; }
      section.committee article:last-child {
        margin-right: 0; } }

canvas#vortexCanvas {
  background-image: url("vortex_bg.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5; }

img {
  margin: 26px;
  height: 140px; }
  img:first-of-type {
    margin-left: 0; }
